modules = ["nodejs-20", "java-graalvm22.3", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd backend && mvn spring-boot:run -Dspring-boot.run.profiles=prod &  npx serve -s frontend/build -l 5000"]
build = ["bash", "-c", "cd frontend && npm run build && cd ../backend && mvn package -DskipTests"]
